<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">
      <ion-icon name="barbell-outline"></ion-icon>
      Treinos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="../../assets/icon/9879333259de1addd9127f1beed51b0e.jpg" />
    <ion-card-header>
      <ion-card-title>Peck Deck</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Trabalha toda a área do peitoral, desde o músculo peitoral maior até os
      menores dando uma ênfase em definição, alongamento e ganho de força
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="../../assets/icon/puxada.png" />
    <ion-card-header>
      <ion-card-title>Puxada Frontal</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Ao realizar a fase concêntrica do exercício os principais movimentos são a
      adução dos ombros, sendo desta forma o latíssimo do dorso o músculo mais
      solicitado.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="../../assets/icon/martelo.png" />
    <ion-card-header>
      <ion-card-title>Biceps Martelo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Por causa da posição do punho, a porção longa acaba sendo mais solicitada.
      A porção longa do bíceps é aquela mais lateralizada. A porção mais medial
      é a curta.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img
      src="../../assets/icon/leg-press-como-torna-lo-mais-poderoso-1510582403.jpeg"
    />
    <ion-card-header>
      <ion-card-title>Leg Press</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Os principais músculos envolvidos no leg press 45 são o quadríceps, com a
      participação do glúteo máximo também durante sua execução.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="../../assets/icon/file.jpg" />
    <ion-card-header>
      <ion-card-title>Stiff</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      O stiff é um exercício multiarticular aliado para trabalhar o core, além
      do posterior de coxas e o bumbum.
    </ion-card-content>
  </ion-card>
</ion-content>
