ion-accordion{
  ion-item{
    ion-label{
      font-size: 20px;
      padding-left: 10px;
    }
  }
}
i{
  font-size: 40px;
}
a{
  display: flex;
  justify-content: flex-end;
  color: #7E2929 ;

  p{
    font-size: 20px;
  }
}
