<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">
      <ion-icon name="call-sharp"></ion-icon>
      Denuncias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list col>
    <ion-list-header lines="none">
      <ion-label>Telefones de Emergência</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Disque 100: Disque Direitos Humanos</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Serviço Público fornecido pela Secretaria de Direitos Humanos da
          Presidência da República, ligado à Ouvidoria Nacional de Direitos
          Humanos, para receber denúncias relacionadas a violações de direitos
          humanos, especialmente aquelas que afetem populações vulneráveis, como
          crianças, idosos, pessoas com deficiências, LGBTI, desabrigados e
          questões relacionadas a companhias aéreas.
        </ion-card-content>
      </ion-card>
    </ion-item>

    <ion-item>
      <ion-card>
        <ion-card-header>
          <ion-card-title
            >Disque 180: Central de Atendimento para a Mulher - Ministério da
            Justiça</ion-card-title
          >
        </ion-card-header>

        <ion-card-content>
          A Secretaria Especial de Políticas para Mulheres (Ministério da
          Justiça) oferece uma linha direta gratuita para receber relatos de
          violência contra mulheres, para orientá-las sobre os seus direitos e a
          legislação atual, e encaminhá-las aos serviços locais quando
          necessário.
        </ion-card-content>
      </ion-card>
    </ion-item>
    <ion-item>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Disque 181: Disque Denúncia</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Linha direta gratuita para relatar crimes e agressões caso você deseje
          permanecer ANÔNIMO.
        </ion-card-content>
      </ion-card>
    </ion-item>
    <ion-item>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Disque 190: Polícia Militar</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Linha direta gratuita para relatar emergências, ex. crimes, agressões,
          proteção de cidadãos em risco, ameaças à vida, relatos de furtos e
          atentados à segurança pública. Você também pode usar esse número para
          contatar o Serviço de Bombeiros.
        </ion-card-content>
      </ion-card>
    </ion-item>
    <ion-item>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Disque 192: Ambulância Pública (SAMU)</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Chame uma ambulância pública para um atendimento de emergência. Você
          deve dizer: 1 – o que aconteceu com o paciente; 2 – o endereço e uma
          referência do lugar; 3 – informações do paciente, como nome, idade e
          sexo.
        </ion-card-content>
      </ion-card>
    </ion-item>
    <ion-item>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Disque 193: Corpo de Bombeiros</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          O Corpo de Bombeiros brasileiro age em casos de incêndio, acidentes
          com animais, vazamentos de gás, produtos químicos e desastres naturais
          como enchentes e queimadas.
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
