ion-content{
  --ion-background-color:rgb(17, 17, 17);
}
ion-select{
  background-color: rgb(17, 17, 17) ;
}

ion-list-header{
  --background: rgb(17, 17, 17) ;
  ion-label{
    color: white;
  }
}
ion-label{
  h1{
    color: white;
  }
}
